/* Reset styles and global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Times New Roman', sans-serif;
    background: linear-gradient(to bottom, #68c8ee, #58a9fa);
    display: flex;
    flex-direction: column; /* Align items in a column */
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1 {
    color: #333;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 10px; /* Adjusted margin to move it higher */
    margin-top: 30px; /* Added margin-top to move it higher */
  }
  
  #container {
    background: #f5bd5c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
  }
  
  h2 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 20px;
  }
  
  button {
    background: #f76c6c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s;
  }
  
  button:hover {
    background: #f44;
  }
  
  input[type="text"] {
    border: 2px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: calc(100% - 20px);
    margin: 10px 0;
    font-size: 1em;
  }
  
  label {
    font-size: 1em;
    color: #333;
  }
  
  #results {
    margin-top: 20px;
    text-align: left;
  }
  
  .result-item {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
  }
  
  .final-result {
    margin-top: 20px;
    font-size: 1.5em;
    color: #333;
    font-weight: bold;
  }
  